@import "node_modules/ol/ol.css";

html,
body {
  height: 100%;
  margin: 0;
}

.banner {
  background-color: #333333;
  height: 10%;
}

.logo {
  height: 50%;
  max-width: 85%;
  padding-left: 1em;
  padding-top: 1em;
  width: auto;
}

.credits {
  color: white;
  cursor: pointer;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}

.credits-box {
  background-color: white;
  display: none;
  font-family: arial, helvetica, sans-serif;
  font-size: 80%;
  margin: auto;
  padding: 7px;
  position: relative;
  top: 7em;
  width: 22em;
  z-index: 100;
}

.close-credits {
  color: white;
  cursor: pointer;
  padding-top: 3px;
}

.credits-head {
  background-color: lightgrey;
  border-radius: 7px;
  padding: 4px 6px;
  text-align: center;
}

.credits-bold {
  font-size: 14px;
}

.credits-overlay {
  /* background-color: #aaa;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #aaa;
  z-index: 5;
  opacity: 0.4;
}

.content {
  position: absolute;
  z-index: 10;
  background: #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map {
  bottom: 0;
  position: absolute;
  top: 10%;
  width: 100%;
}

.ol-zoom-in {
  cursor: pointer;
  margin-bottom: 1px 1px 0px 1px;
}

.ol-zoom-out {
  cursor: pointer;
  margin-top: 0px 1px 1px 1px;
}
