@import "node_modules/ol/ol.css";

html,
body {
  height: 100%;
  margin: 0;
}

.banner {
  background-color: #333333;
  height: 10%;
}

.info {
  color: white;
  cursor: pointer;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}

.logo {
  height: 50%;
  max-width: 85%;
  padding-left: 1em;
  padding-top: 1em;
  width: auto;
}

#map {
  bottom: 0;
  position: absolute;
  top: 10%;
  width: 100%;
}

.ol-zoom-in {
  cursor: pointer;
  margin-bottom: 1px 1px 0px 1px;
}

.ol-zoom-out {
  cursor: pointer;
  margin-top: 0px 1px 1px 1px;
}
