@import url("fonts.css");
@import url("navbar.css");

.add-image {
  display: block;
  height: 5%;
  margin: 1em auto 1em auto;
  max-width: 60%;
  width: auto;
}

form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

.add-form {
  text-align: center;
}

.add-input {
  width: 65%;
}


  